#gamecontainer
  #gamescreen
    #sky.animated
      #flyarea
        #ceiling.animated
        #player.bird.animated
        #bigscore
        #splash
        #scoreboard
          #medal
          #currentscore
          #highscore
          #replay
            =image_tag('replay.png')
    #land.animated
      #debug
#playerbox.boundingbox
#pipebox.boundingbox
      


